// General paths
$image-path: '/img';

// Bootstrap overwrites
$icon-font-path: '/assets/fonts/';
$font-family-base: 'Open Sans', sans-serif;
$navbar-height: 75px;
$navbar-padding-vertical: 18px;

// Colors
$gap-gray-lighter: #f5f5f5;
$gap-gray: #666;
$gap-blue: #337ab7;